[package]
name = "gix-lock"
version = "5.0.1"
repository = "https://github.com/Byron/gitoxide"
license = "MIT/Apache-2.0"
description = "A git-style lock-file implementation"
authors = ["Sebastian Thiel <sebastian.thiel@icloud.com>"]
edition = "2021"
include = ["src/**/*", "LICENSE-*", "README.md", "CHANGELOG.md"]
rust-version = "1.64"

[lib]
doctest = false
test = true

[dependencies]
gix-utils = { version = "^0.1.1", default-features = false, path = "../gix-utils" }
gix-tempfile = { version = "^5.0.0", default-features = false, path = "../gix-tempfile" }
thiserror = "1.0.38"

[dev-dependencies]
tempfile = "3.2.0"
