[package]
name = "git-repository"
repository = "https://github.com/Byron/gitoxide"
description = "Abstractions for git repositories"
license = "MIT/Apache-2.0"
version = "0.5.0"
authors = ["Sebastian Thiel <sebastian.thiel@icloud.com>"]
edition = "2018"
include = ["src/**/*", "src/assets/**"]

[lib]
doctest = false
test = true

[features]
default = ["one-stop-shop"]
one-stop-shop = ["git-hash", "git-traverse", "git-diff", "git-object", "git-pack/pack-cache-lru-dynamic", "git-pack/pack-cache-lru-static"]


[dependencies]
git-ref = { version = "0.5.0", path = "../git-ref" }
git-odb = { version = "^0.16", path = "../git-odb" }
git-hash = { version = "^0.4.0", path = "../git-hash", optional = true }
git-pack = { version = "^0.2", path = "../git-pack", optional = true }
git-object = { version = "^0.10", path = "../git-object", optional = true }
git-traverse = { version = "^0.3", path = "../git-traverse", optional = true }
git-diff = { version = "^0.4", path = "../git-diff", optional = true }

quick-error = "2.0.0"

[dev-dependencies]
git-testtools = { version = "0.1", path = "../tests/tools" }
