#!/usr/bin/sh
# How to use hook-based fs-monitor integrations
###############################################

# This script is meant as a placeholder for integrating filesystem monitors with git
# using hooks in order to speed up commands like `git-status`.
#
# To setup the fs-monitor for use with watchman, run
# `git config core.fsmonitor .git/hooks/fsmonitor-watchman` and paste the content of
# the example script over at https://github.com/git/git/blob/aa9166bcc0ba654fc21f198a30647ec087f733ed/templates/hooks--fsmonitor-watchman.sample
# into `.git/hooks/fsmonitor-watchman`.
#
# Note that by now and as of this writing on MacOS and Windows and starting from git 2.35.1
# one can use the built-in fs-monitor implementation using `git config core.fsmonitor true`

exit 42
