[package]
name = "git-odb"
version = "0.20.2"
repository = "https://github.com/Byron/gitoxide"
authors = ["Sebastian Thiel <sebastian.thiel@icloud.com>"]
license = "MIT/Apache-2.0"
description = "Implements various git object databases"
edition = "2018"
include = ["src/**/*"]

[lib]
doctest = false

[features]
internal-testing-git-features-parallel = ["git-features/parallel"]

[[test]]
name = "multi-threaded"
path = "tests/odb-multi-threaded.rs"
required-features = ["internal-testing-git-features-parallel"]

[[test]]
name = "single-threaded"
path = "tests/odb-single-threaded.rs"
required-features = []

[package.metadata.docs.rs]
all-features = true

[dependencies]
git-features = { version = "^0.16.0", path = "../git-features", features = ["rustsha1", "walkdir", "zlib"] }
git-hash = { version = "^0.5.0", path = "../git-hash" }
git-object = { version ="^0.13.0", path = "../git-object" }
git-pack = { version ="^0.9.0", path = "../git-pack" }

btoi = "0.4.2"
tempfile = "3.1.0"
thiserror = "1.0.26"

[dev-dependencies]
git-testtools = { path = "../tests/tools"}
git-actor = { path = "../git-actor" }
pretty_assertions = "0.7.1"
