name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: Swatinem/rust-cache@v1
    - name: Setup dependencies (ubuntu)
      if: startsWith(matrix.os, 'ubuntu')
      run:
        sudo apt-get install tree
    - name: Setup dependencies (macos)
      if: startsWith(matrix.os, 'macos')
      run:
        brew install tree
    - name: test
      env:
        CI: true
      run: make tests

  build-and-test-on-windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - name: "Check default features build on windows"
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all --bins --tests --examples
      - name: "Test (crossterm)"
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all
      - name: "Installation from crates.io"
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: "gitoxide cargo-smart-release"

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
      - name: Run cargo clippy
        run: cargo clippy --all --tests
      - name: Run cargo fmt
        run: cargo fmt --all -- --check
      - name: Run cargo diet
        run: |
          curl -LSfs https://raw.githubusercontent.com/the-lean-crate/cargo-diet/master/ci/install.sh | \
           sh -s -- --git the-lean-crate/cargo-diet --target x86_64-unknown-linux-musl

          # Let's not fail CI for this, it will fail locally often enough, and a crate a little bigger
          # than allows is no problem either if it comes to that.
          make check-size || true

  cargo-deny:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - bans licenses sources

    # Prevent sudden announcement of a new advisory from failing ci:
    continue-on-error: ${{ matrix.checks == 'advisories' }}

    steps:
    - uses: actions/checkout@v2
    - uses: EmbarkStudios/cargo-deny-action@v1
      with:
        command: check ${{ matrix.checks }}
