name: Minimum Supported Rust Version

on:
  push:
    branches:
      - main
      - 'run-ci/**'
      - '**/run-ci/**'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check-msrv:
    name: cargo check MSRV
    strategy:
      matrix:
        os:
          - windows-2022
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    env:
      # dictated by `firefox` to support the `helix` editor, but now probably effectively be controlled by `jiff`, which also aligns with `regex`.
      # IMPORTANT: adjust etc/msrv-badge.svg as well
      rust_version: 1.74.0
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
      - run: |
          rustup toolchain install ${{ env.rust_version }} --profile minimal --no-self-update
          rustup default ${{ env.rust_version }}
      - run: just ci-check-msrv
